
@{
    ViewBag.Title = "Cell Maintenance";
}

<h2>Ward_Maintenance</h2>
<div> Lets hope it connects</div>

<div>
    <table>
        <tr>
            <td>
                <label id="lblCellNumber">Cell Number :</label>
            </td>

            <td>
                <input id="txtCellNo" type="tel"/>
            </td>
        </tr>
    </table>
</div>