
@{
    ViewBag.Title = "Inmate";
}

<h2>Register_Inmate</h2>

<div >
    <table>
        
            <tr>
                <td>
                    <label id="lblName">Name :</label>
                </td>

                <td>
                    <input id="txtSurname" type="text" />
                </td>
                
            </tr>
        

        <tr>
            <td>
                <label id="lblSurname">Surname :</label>

            </td>

            <td>
                <input id="txtSurname" type="text" />
            </td>
        </tr>

        <tr>
            <td>
                <label id="lblCharge" row="2" cols="20" >Sentence given :</label>
            </td>

            <td>
                <textarea id="TxtCharge" rows="4" cols="50"></textarea>
                
            </td>
        </tr>

        <tr>
            <td>
                <label id="lblSentence">Years  :</label>
            </td>

            <td>
                <input id="txtSurname" type="text" />
            </td>
        </tr>
            
        <div class="col-md-2">
            <table>
                <tr>
                    <td>
                        <input id="Submit" type="button" value="submit" />
                    </td>

                    <td>
                        <input id="Submit" type="button" value="cancel" />
                    </td>
                </tr>
            </table>
        </div>
    </table>
    
</div>

